@import "_variables";
@import "reset";
@import "_elements";

* {
  box-sizing: border-box;
}
body {
  font-family: "Merriweather", serif;
  width: 100%;
  height: 100vh;
}

header {
  position: fixed;
  top: 55px;
  left: 55px;
}
main {
  padding: 0px 55px;
  width: 88%;
  .home {
    section .title {
      width: 90%;
      line-height: 86px;
      margin-top: 210px;
      font-size: 70px;
      font-weight: 300;
      margin-bottom: 120px;
    }

    section .image {
      width: 110%;
      height: 95vh;
      margin-left: -55px;
      background-image: url("https://source.unsplash.com/random/");
      background-size: cover;
      background-position: center;
      margin-bottom: 120px;
    }

    section.home-columns {
      h2 {
        font-size: 113px;

        margin-bottom: 86px;
      }
      .columns__grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 60px;

        margin-bottom: 180px;
        .grid__item {
          width: 100%;
          .item__img {
            width: 100%;
            height: 50vh;
            background-image: url("https://source.unsplash.com/random/");
            background-size: cover;
            background-position: center;
            margin-bottom: 33px;
          }
        }
      }
    }

    section.home-events {
      position: relative;
      margin-bottom: 130px;
      .home-events__header {
        display: grid;
        gap: 60px;
        grid-template-columns: repeat(3, 1fr);
        font-size: 70px;
        justify-items: center;
        align-items: center;
        margin-bottom: 136px;
        .events__item:nth-child(2) {
          h2 {
            padding-left: 15%;
            line-height: 86px;
            font-weight: 400;
          }
        }
      }

      .home-move {
        width: 100%;
        height: 15px;
        background-image: linear-gradient(
          to right,
          black 64%,
          rgba(255, 255, 255, 0) 0%
        );
        background-position: bottom;
        background-size: 30px 1px;
        background-repeat: repeat-x;
        animation: move 1s linear infinite;
      }
      .home-events__content {
        display: grid;
        height: 25vh;
        grid-template-columns: repeat(3, 1fr);
        gap: 60px;
        justify-items: center;
        align-items: center;
        margin-bottom: 60px;
        text-align: center;
        .events-content__item:nth-child(1) span {
          margin-top: 5px;
        }
        span {
          display: block;
          width: 100%;
          margin-bottom: 20px;
        }
        p {
          width: 100%;
        }
      }

      button {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 40%);
        width: 178px;
        height: 64px;
        border: 1px solid black;
        outline: none;
        background-color: white;
        font-size: 20px;
      }
    }
  }

  .home-address {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 60px;
    margin-bottom: 70px;
    .address-write {
      width: 100%;
      font-size: 60px;
      height: 50vh;
      text-align: center;
      display: flex;
      align-items: center;
    }
    .address-map {
      width: 100%;
      height: 50vh;
      background-image: url("../../캡처.PNG");
      background-size: cover;
      background-position: center;
    }
  }

  .home-sidebar {
    width: 12%;
    position: fixed;
    top: 0;
    right: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 0.5fr;
    height: 100%;

    .sidebar-column {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      p {
        margin-top: 70px;
        margin-bottom: 200px;
      }
      span {
        display: block;
        transform-origin: 20% 100%;
        transform: rotate(90deg);
      }
    }
    .sidebar-column:nth-child(1) {
      background-color: #5ea3ec;
    }
    .sidebar-column:nth-child(2) {
      background-color: #f64444;
    }
    .sidebar-column:nth-child(3) {
      background-color: #ffb400;
      p {
        margin-left: -20px;
      }
      span {
        margin-left: -10px;
      }
    }
  }
}
