@import "_variables";
@import "reset";

* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: $white;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: $fixedWidth;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  color: $red;
  h1 {
    font-size: 80px;
    width: 80%;
    padding: 72px;
    // padding-right: 0px;
    padding-bottom: 5px;
    text-transform: uppercase;
  }

  .bottom {
    padding: 72px;
    padding-bottom: 0px;
  }
  h3 {
    width: 100%;
    font-size: 25px;
    font-weight: 300;
    margin-bottom: 20px;
  }

  p {
    width: 100%;
    font-weight: 400;
    font-size: 17px;
    margin-bottom: 20px;
  }
  nav {
    width: 80%;
    ul {
      display: flex;
      flex-wrap: wrap;
      li {
        cursor: pointer;
        margin-right: 12px;
        font-size: 15px;
        color: black;
        opacity: 0.5;
        padding-bottom: 5px;
        border-bottom: 2px solid rgba(0, 0, 0, 1);
        margin-bottom: 20px;
        &:hover {
          opacity: 1;
        }
      }
    }
  }
}

main {
  width: 61%;
  background-color: $red;

  position: relative;
  left: 39%;
  min-height: 100vh;

  padding-bottom: 0px;
  section {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.1) 5%,
        transparent,
        transparent,
        transparent,
        transparent
      )
      $red;
  }
  .wrapper {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    .movie__header {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 15px;
      color: white;
    }
    h4 {
      text-transform: uppercase;
      font-size: 25px;
    }
    h5 {
      font-size: 15px;
    }
    img {
      width: 100%;
      box-shadow: 0 80px 80px -80px #000, 0 0 12px rgba(0, 0, 0, 0.06),
        inset 0 0 0 1px rgba(0, 0, 0, 0.2);
    }
  }
}
